<div class="login">
  <% if user_signed_in? %>
    <h2>Hello, <%= current_user.name%>!</h2>
    <%= link_to 'Logout', destroy_user_session_path, method: 'DELETE', class: "btn btn-danger" %>
  <% else %>
    <%= link_to 'Logout', new_user_session_path, method: 'GET', class: "btn btn-succes" %>
  <% end %>
</div>